<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Not found</title>
</head>
<body>

<section layout:fragment="content">
    <hgroup>
        <h1>Not found</h1>
        <p th:text="${message} ?: 'That page or record does not exist.'">That page does not exist.</p>
    </hgroup>
    <p><a th:href="@{/groups}" role="button">Back to groups</a></p>
</section>

</body>
</html>
