<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Something went wrong</title>
</head>
<body>

<section layout:fragment="content">
    <hgroup>
        <h1>Something went wrong</h1>
        <p>The error has been logged. Try again, or head back to your groups.</p>
    </hgroup>
    <p><a th:href="@{/groups}" role="button">Back to groups</a></p>
</section>

</body>
</html>
